/* global style classes */
			html {
				box-shadow: 0 0 0 15px #1c202e inset;
				padding: 0 10px;
			}
			body {
				display: flex;
				flex-direction: column;
				font-family: 'Open Sans', helvetica, arial, sans-serif;
				min-height: 100vh;
			}
			h1,h2,h3,h4,h5,h6 {
				font-family: 'Raleway', helvetica, sans;
				font-weight: 100;
			}
			a {
        color: rgba(255, 0, 255, 1);
      }
      h1 {
        font-size: 7vw;
        margin-top: 0;
      }
			h2 {
				font-size: 2em;
			}
			h2 ~ p {
				font-size: 0.8em;
				font-style: italic;
				margin: 1em auto 0;
				max-width: 70%;
				text-align: center;
			}
			h4 {
				color: #999;
				font-weight: bold;
				text-transform: uppercase;
			}
			p {
				line-height: 1.7;
				margin: 0.75em 0;
			}
						/* ~ instead of + changes ALL the "p"s instead of only the one following "h2". */
			.content-container {
				display: flex;
				flex: 1 1 auto;
				padding-top: 10vh;
				width: 100%;
			}
/* navigation style rules */
			.header {
				color: #b8b8b8;
				position: fixed;
				width: 100%;
				z-index: 20;
				background-color: #485461;
				background-image: linear-gradient(180deg, #2d313d 10%, #1c202e 99%);
			}
			.header-nav {
				float: right;
				padding: 4vh 1.5vw 0 0;
			}
			.header-nav > li {
				display: inline-block;
				margin-left: 1em;
				font-size: 1.2rem;
			}
			.header-nav a,
			.drop-trigger {
				color: #b8b8b8;
			}
			.nav-links a,
			.drop-trigger {
				font-size: 0.95rem;
				font-weight: bold;
				text-decoration: none;
				text-transform: uppercase;
			}
			.nav-links a:hover,
			.nav-links a:active {
				color: white;
			}
			/* .header-nav:last-child {
				padding-right: 40px;
			} */
			.header-nav > li:first-child a {
				color: #b8b8b8;
			}
			.header-nav > li:first-child a:hover {
				color: white;
			}
			/* .header-nav > li:last-child a {
				color: white;
			} */
			/* .header-nav > li:last-child a:hover {
				color: green;
			} */
			.header-nav > li ~ li {
			border-left: 2px solid rgba(255, 255, 255, 0.3);
			padding-left: 1em;
			}
			.header-nav > li ~ li a {
				color: #b8b8b8;
			}
			.header-nav > li ~ li a:hover {
				color: white;
			}
			.header-logo {
				background-color: #485461;
				background-image: linear-gradient(180deg, #2d313d 10%, #1c202e 99%);;
				box-sizing: border-box;
				display: block;
				height: 10vh;
				padding-top: 10px;
				position: relative;
				text-align: center;
				width: 10vh;
				opacity: 0.8;
			}
			.header-logo:hover,
			.header-logo:active {
				opacity: 1;
			}
			.header-logo img {
				width: 6vh;
				border-radius: 2em;
			}
			/* Dropdown Menu */
			.dropdown {
				position: relative;
			}
			.dropdown:hover .drop-menu {
				display: block;
			}
			.dropdown:hover .drop-trigger {
				border-color: #ed6e2f transparent transparent;
			}
			.drop-trigger {
				display: inline-block;
				padding-right: 1.5em;
				position: relative;
			}
			.drop-trigger:after {
				border: 0.3em solid;
				border-color: #aaa transparent transparent;
				content: "";
				height: 0;
				position: absolute;
				right: 0;
				top: 0.3em;
				width: 0;
			}
			.drop-menu {
				box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
				display: none;
				list-style: none;
				padding: 1em 0 0;
				position: absolute;
				right: 0;
				z-index: 9;
			}
			.drop-menu:before {
				border: 0.6em solid;
				border-color: transparent transparent #333;
				content: "";
				height: 0;
				position: absolute;
				right: 1em;
				top: -0.1em;
				width: 0;
			}
			.drop-menu li {
				background-color: #333;
			}
			.drop-menu li ~ li {
				border-top: 1px dotted rgba(0, 0, 0, 0.1);
			}
			.drop-menu li:first-child {
				border-radius: 5px 5px 0 0;
				color: #999;
				font-size: 0.5em;
				padding: 1em 1em 0.25em;
				text-align: right;
				text-transform: uppercase;
			}
			.drop-menu li:last-child {
				border-radius: 0 0 5px 5px;
			}
			.drop-menu a {
				color: #333;
				display: block;
				font-weight: normal;
				padding: 0.5em 2em 0.5em 1em;
				text-align: left;
				text-transform: none;
				white-space: nowrap;
			}
			.drop-menu a:hover {
				background-color: rgba(0, 0, 0, 0.1);
				color: #333;
			}
			.nav-links a,
			.drop-trigger,
			.show-mobile-menu {
				font-size: 0.7rem;
				font-weight: bold;
				text-decoration: none;
				text-transform: uppercase;
			}
/* Mobile Menu */
			.mobile-menu-check,
			.show-mobile-menu {
				display: none;
			}
/* Footer Style rules */
			.footer {
				background-color: #1c202e;
				padding: 10vh 0 12vh;
				text-align: center;
			}
			.footer-logo img {
				width: 120px;
			}
			.footer h3 {
				color: #fff;
				padding-top: 1.25em;
				text-transform: uppercase;
			}
			.footer h3 span {
				color: #aaa
			}
			.footer-nav li {
				display: inline-block;
				margin: 2em 1em 0;
			}
			.footer-nav a {
				color: #cce;
			}
			.footer .dropdown:hover .drop-menu,
			.footer .drop-trigger:after {
				display:none;
			}
			.footer .drop-trigger {
				padding-right: 0;
			}
/* Main Homepage style rules */
			 .full-hero {
			  background-color: #c7dbfc;
				background-size: cover;
				box-sizing: border-box;
			  height: 90vh;
				padding-top: 10vh;
    	}
			.full-hero:after {
				bottom: 2vh;
				border: 0.6em solid;
				border-color: grey transparent transparent;
				content: url("./index.html#content");
				left: 50%;
				position: absolute;
				transform: translate(-50%, 0);
			}
			.full-hero:after:hover {
				color: white;
			}
			.half-hero {
				background-position: center;
				background-size: cover;
				height: 40vh;
				width: 96.2vw;
				position: relative;
				left: 4px;
			}
			.hero-image {
				background-image: url(/images/bwcover.jpg);
				background-position: center top;
			}
			.hero-content {
				color: white;
				position: relative;
				text-align: center;
				text-transform: uppercase;
				transform: translate(0, -50%);
			}
			.hero-content h1 {
				color: rgba(255, 255, 255, 0.8);
				font-size: 7vw;
				margin-bottom: 0.25em;
				/* top: 10%; */
				transform: translate(0, -290%);
			}
			.hero-content .link {
				background-color: rgba(255, 255, 255, 0.8);
				color: #557c83;
				transform: translate(-230%, 250%);
			}
			.hero-content .link:hover {
				background-color: #557c83;
				color: white;
			}
 /* Paragraph style rules */
			.home-section {
				margin: 6rem auto;
				max-width: 980px;
				width: 90vw;
			}
			.home-section h2 {
				margin-bottom: 1.5rem;
				text-align: center;
			}
			.home-callout {
				align-items: center;
				background-color: #1c202e;
				color: #fff;
				display: flex;
				flex-direction: row-reverse;
				padding: 7vh 0;
			}
			.home-callout h3 {
				color: inherit;
				margin-top: 1em;
			}
			.callout-title {
				flex: 1 1 0;
				font-size: 5.75vw;
				text-align: right;
				text-transform: uppercase;
			}
			.callout-text {
				flex: 0 0 45em;
				font-size: 1rem;
				padding: 0 3vw;
			}

 /* social style rules */
			.tweet {
        background-color: rgba(20, 60, 125, 0.2);
        border-radius: 40px;
        box-sizing: border-box;
        color: #02f;
        display: inline-block;
        font-family: helvetica, sans-serif;
        font-weight: bold;
        height: 36px;
        line-height: 1;
        padding-left: 0.1em;
        padding-top: 0.5em;
        width: 36px;
			}
			.tweet:hover,
			.tweet:active {
				color: #0af;
				background-color: #33ff55;
			}
      .show {
        display: block;
      }
      .social-list {
        list-style: none;
        padding: 0;
        top: 250%;
				right: 27%;
				position: absolute;
      }
			.link {
				background-color: rgba(1, 1, 100, 0.2);
				border-radius: 99px;
				color: #fff;
				display: inline-block;
				font-family: sans-serif;
				font-size: 1.6em;
				font-weight: bolder;
				height: 1.5em;
				padding: 0.35em 0.05em 0em 0.05em;
				text-align: inherit;
				text-decoration: none;
				text-indent: 1px;
				vertical-align: middle;
				width: 1.7em;
			}
      .social-list > li {
        display: inline-block;
        margin: 0 1em;
      }
	/* bio module style rules */
      .bio-box {
        box-sizing: border-box;
        float: left;
        font-size: 1rem;
        margin: 6rem 0 0;
        padding: 0 3%;
        width: 33%;
      }
      .bio-wrapper {
        background-color: #efefef;
        font-size: 24px;
        margin: 10px;
        max-width: 960px;
        overflow: hidden;
      }
      .bio-box h3 {
        color: #000;
        font-size: 1.25em;
        margin: 0 0 1em;
        text-align: center;
				text-transform: uppercase;
      }
      .bio-text {
        font-size: 0.75em;
      }
			.bio-text a {
				color: #555;
        font-size: 1em;
        /* font-size: 150% */
			}
      .bio-box > a {
        text-transform: uppercase;
				color: #2af;
      }
      .bio-box img {
        width: 100%;
				height: 110px;
      }
			.bio-box .tweet {
				display: block;
				margin: 2em auto 1em;
			}
			.bio-box .link {
				background-color: rgba(10, 20, 35, 0.2);
				border-radius: 30px;
				margin-top: 5px;
				padding: 5px 2px 0 0;
				text-align: center;
				font-size: 1em;
			}
	/* box style rules */
      .test-box {
        background: #9db6dd;
        margin: 50px;
        width: 200px;
      }
      .test-box-nosizing {
        border: 10px solid black;
        padding: 40px;
      }
      .test-box-sizing {
        box-sizing: border-box;
        width: auto;
        margin-top: 100px;
      }
/* GALLERY page style rules */
			.col-three {
				display: flex;
				flex: 1;
			}
			.col {
				box-sizing: border-box;
				padding: 2em;
			}
			.col-three .col ~ .col {
				border-left: 1px solid rgba(0, 0, 0, 0.2);
			}
			.col-three .col-nav {
				flex: 0 1 15em
			}
			.col-three .col-content {
				flex: 1 1 0;
			}
			.col-three .col-side {
				flex: 0 1 20em;
			}
			.gallery-photo {
				position: relative;
			}
			.gallery-photo img {
				width: 100%;
			}
			.gallery-info {
				font-size: 0.8rem
			}
			.gallery-info h3 {
				margin-bottom: 1em
			}
			.gallery-thumbs {
				height: 90vh;
				overflow: scroll;
			}
			.gallery-thumbs > div {
				cursor: pointer;
			}
			.gallery-thumbs img {
				box-sizing: border-box;
				box-shadow: 0 0 0 5px transparent;
				display: inline-block;
				margin: 0 0 10px;
				opacity: 0.5;
				transition: all 0.5s ease-in-out;
				width: 100%;
			}
			.gallery-thumbs img:hover {
				opacity: 1;
			}
			/* .gallery-thumbs .current img {
				box-shadow: 0 0 0 5px #ed6e2f;
				opacity: 1;
			} */
/* BLOGS Page style rules */
			.page {
				margin: 10vh auto 15vh;
				max-width: 980px;
				width: 85vw;
			}
			.page h1 {
				font-size: 3em;
				margin-bottom: 1em;
				text-align: center;
			}
			.page h2 {
				margin-bottom: 0.5em;
			}
			.page h4{
				margin-bottom: 1em;
			}
			.col-two {
				display: flex;
			}
			.col-two .col-side {
				flex: 0 0 20em;
				order: 1;
			}
			.col-two .col-content {
				flex: 1;
			}
			.blog-recent {
  		text-align: right;
			}
			.blog-title-list {
			  list-style: none;
			  padding: 0;
			}
			.blog-title-list li ~ li {
			  margin-top: 1.5em;
			}
			.blog-title-list span {
			  color: #1c202e;
			  display: block;
			  font-size: 0.8em;
			  font-style: italic;
			  margin-top: 0.5em;
			}
			.blog-posts ~ .blog-posts {
			  border-top: 1px dotted rgba(0, 0, 0, 0.1);
			  margin-top: 4em;
			  padding-top: 4em;
			}
			.blog-posts .post-header {
			  font-size: 0.8rem;
			}
			.post-byline .tweet {
				width: 26px;
				height: 26px;
				font-size: 1rem;
				text-align: center;
				text-decoration: none;
				padding-top: 0.3rem;
			}
			.post-header {
			  margin-bottom: 1.5em;
				color: #1c202e;
			}
			.post-header img,
			.post-header .tweet {
			  margin-right: 0.5em;
			}
			.post-header img {
			  border-radius: 99px;
			  display: inline-block;
			  height: 3.5em;
			  vertical-align: middle;
			}
			.posts-image {
			  background-position: center;
			  background-size: cover;
			  height: 6em;
			  margin-bottom: 1.5em;
			}
			.post {
				width: 100%;
			}
			.post-content,
			.post-footer{
				margin: auto;
				max-width: 40em;
				width: 85vw;
			}
			.pull-left {
				float: left;
				margin: 2em 2em 2em -2%;
			}
			.pull-right {
				float: right;
				margin: 2em -2% 2em 2em;
			}
			.post-aside {
				background-color: rgba(0, 0, 0, 0.01);
				float: right;
				margin: 0 0 2em 2em;
				padding: 2em;
			}
			.post .post-header {
				margin-bottom: 2.5em;
				text-align: center;
			}
			.post-content {
				font-size: 1.1rem;
			}
			.post-footer {
				border-top: 1px solid rgba(0, 0, 0, 0.1);
				font-style: italic;
				font-size: 0.8em;
				margin-top: 3em;
				padding-top: 2em;
			}


/* Responsive Style Rules */

		@media (max-width: 800px) {
				html {
					box-shadow: none;
					padding: 0;
				}
				.half-hero {
					display: none;
					margin-top: 50px;
				}
				/* Mobile Navigation */
				.header {
					height: 8%;
				}
				.header-logo {
					height: 55px;
				}
				.header-nav {
					background-color: #01226a;
					box-sizing: border-box;
					display: inline-block;
					font-size: 40px;
					position: absolute;
					padding: 0;  /* padding: 1.8vh 0.5em 0 0; */
					left: 0;
					max-height: 0;
					overflow: hidden;
					text-align: center;
					top: 8vh;
					transition: all 0.3s ease-in-out;
					width: 100vw;
					z-index: 4;
				}
				.header-nav > li {
					display: block;
					margin-top: 0.05em;
					/* margin-left: 0.25em; */
				}
				.header-nav > li ~ li {
					border: 0;
					padding: 0;
					/* padding-left: 0.25em; */
				}
				.header-nav li:last-child {
					margin-top: 0.05em;
					margin-bottom: 0.4em;
				}
				.header-nav li:first-child a {
					color: #fff;
				}
				.nav-links a {
					font-size: 4vw;
				}
				.header-logo {
					left: auto;
				}
				.mobile-menu-check:checked ~ .header-nav {
					max-height: 1000px;
				}
				.show-mobile-menu {
					display: block;
					float: right;
					font-size: 2rem;
					font-weight: bold;
					right: 8px;
					padding: 0.7em 1.2em;
					position: fixed;
					text-transform: uppercase;
					/* right: 15px; */
				}
	/* Hide Dropdown */
				.header-nav .dropdown:hover .drop-menu,
				.header-nav .drop-trigger:after {
					display: none;
				}
				.header-nav .drop-trigger {
					padding: 0 0 0 0;
				}
				.mobile-menu-check:checked ~ .header-nav {
					max-height: 1000px;
				}
				.mobile-menu-check:checked ~ .show-mobile-menu:after {
					background-color: #000;
					color: #4ae;
					content: "X";
					right: 2px;
					position: absolute;
					top: 1.05em;
					width: 100%;
					text-align: center;
					font-size: 1.6rem;
					font-weight: bold;
				}
				/* Home */

				.hero-content {
					color: white;
					position: absolute;
					text-align: center;
					text-transform: uppercase;
					transform: translate( 0%, 50%);
					margin: 0;
					padding: 0;
				}
				.hero-content h1 {
					display: none;
					/* color: rgba(255, 255, 255, 0.8);
					font-size: 8vw;
					font-weight: bold;
					width: 100vw;
					position: absolute;
					top: 150px; */
				}
				.full-hero {
					margin-top: -20%;
				}
				.full-hero:after {
					bottom: 30vh;
				}
				.social-list {
					box-sizing: content-box;
					display: inline-block;
					position: relative;
					left: 180px;
					top: 180px;
				}
				.social-list > li {
					display: inline-block;
					margin: 0 1em;
				}
				.social-list li:last-child {
					margin-right: 0px;
				}

				.link {
					background-color: rgba(255, 255, 255, 0.8);
					color: #557c83;
					display: inline-block;
					/* transform: translate(0%, 150%); */
				}
				.hero-content .link:hover {
					background-color: #557c83;
					color: white;
				}
				.home-callout {
					flex-direction: column;
				}
				.callout-text {
					flex: 1;
				}
				.bio-box {
					float: none;
					font-size: 1.3rem;
					width: auto;
				}
				/* Blogs */
				.post-aside {
					display: none;
				}
				.blog-recent {
					display: none;
				}
				.blog-previews {
					padding: 0;
				}
				/* Gallery */
				.gallery {
					flex-direction: column;
				}
				.gallery .col {
					padding: 1em;
				}
				.gallery .gallery-thumbs {
					flex: 1;
					height: auto;
					white-space: nowrap;
					width: 100vw;
				}
				.gallery-thumbs > div {
					display: inline-block;
				}
				.gallery-thumbs img {
					height: 7vh;
					margin: 0 10px 0 0;
					width: auto;
				}
				.gallery .gallery-info {
					flex: 1;
				}
		}
