/* global style classes */
			body {
				font-family: helvetica, arial, sans-serif;
			}
			a {
        color: rgba(255, 0, 255, 1);
      }
      h1 {
        font-size: 7vw;
        margin-top: 0;
      }
      /* Main Homepage Classes */
      .full-hero {
        background-color: #c7dbfc;
        height: 40vh;
      }
      .link {
        background-color: rgba(1, 1, 100, 0.2);
        border-radius: 0.5em;
        color: #fff;
        display: inline-block;
        font-family: sans-serif;
        font-weight: bolder;
        height: 1.8em;
        padding-top: 0.7em;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        width: 5em;
      }
/* navigation style rules */
			.header-nav {
				float: right;
			}
			.header-nav > li {
				display: inline-block;
				padding: 5.5vh 60px 0 0;
				margin-left: 1em;
			}
			.header-nav a {
				color: #000;
				font-size: 0.8rem;
				font-weight: bold;
				text-decoration: none;
				text-transform: uppercase;
			}
/* social style rules */
			.tweet {
        background-color: rgba(20, 60, 125, 0.2);
        border-radius: 40px;
        box-sizing: border-box;
        color: #02f;
        display: inline-block;
        font-family: helvetica, sans-serif;
        font-weight: bold;
        height: 36px;
        line-height: 1;
        padding-left: 0.1em;
        padding-top: 0.5em;
        width: 36px;
			}
      .show {
        display: block;
      }
      .social-list {
        list-style: none;
        padding: 0;
        text-align: center;
      }
      .social-list > li {
        display: inline-block;
        margin: 0 0.5em;
      }
/* bio module style rules */
      .bio-box {
        border: 1px solid #000;
        box-sizing: border-box;
        border-color: transparent black black transparent;
        float: left;
        font-size: 1rem;
        margin: 40px 1% 0;
        padding: 2%;
        width: 23%;
      }
      .bio-wrapper {
        background-color: #efefef;
        font-size: 24px;
        margin: auto;
        max-width: 960px;
        min-height: 400px;
        overflow: scroll;
      }
      .bio-box h3 {
        color: #fff;
        font-size: 1.25em;
        margin: -40px 0 1em;
        text-align: center;
      }
      .bio-text {
        font-size: 1em;
        line-height: 1.5;
      }
			.bio-text a {
				color: #0c3;
        font-size: 1em;
        /* font-size: 150% */
			}
      .bio-box > a {
        text-transform: uppercase;
      }
      .bio-box img {
        width: 100%;
      }
			.bio-box .tweet {
				display: block;
				margin: 2em 0 1em;
			}
/* box style rules */
      .test-box {
        background: #9db6dd;
        margin: 50px;
        width: 200px;
      }
      .test-box-nosizing {
        border: 10px solid black;
        padding: 40px;
      }
      .test-box-sizing {
        box-sizing: border-box;
        width: auto;
        margin-top: 100px;
      }
