/* global style classes */
			body {
				font-family: helvetica, arial, sans-serif;
			}
			a {
        color: rgba(255, 0, 255, 1);
      }
      h1 {
        font-size: 7vw;
        margin-top: 0;
      }
			h2 + p {
				font-size: 0.8em;
				font-style: italic;
				margin: 1em auto 0;
				max-width: 70%;
				text-align: center;
			}
						/* ~ instead of + changes ALL the "p"s instead of only the one following "h2". */
      /* Main Homepage Classes */
      .full-hero {
        background-color: #c7dbfc;
        height: 40vh;
				position: relative;
      }
			.full-hero:hover,
			.full-hero:active {
				background-color: #c7dbfc;
			}
      .link {
        background-color: rgba(1, 1, 100, 0.2);
        border-radius: 0.5em;
        color: #fff;
        display: inline-block;
        font-family: sans-serif;
        font-weight: bolder;
        height: 1.8em;
				padding-top: 0.7em;
        text-align: center;
        text-decoration: none;
        width: 5em;
      }
/* navigation style rules */
			.header {
				background-color: #000;
				color: #fff;
				width: 100%;
				position: relative;
			}

			.header-nav {
				float: right;
				padding: 4vh 1.5vw 0 0;
			}
			.header-nav > li {
				display: inline-block;
				margin-left: 1em;
			}
			.header-nav a {
				color: #000;
				font-size: 0.95rem;
				font-weight: bold;
				text-decoration: none;
				text-transform: uppercase;
			}
			.header-nav a:hover,
			.header-nav a:active {
				color: #ed6e2f;
			}
			/* .header-nav:last-child {
				padding-right: 40px;
			} */
			.header-nav > li:first-child a {
				color: white;
			}
			.header-nav > li:first-child a:hover {
				color: #22ff66;
			}
			/* .header-nav > li:last-child a {
				color: white;
			} */
			/* .header-nav > li:last-child a:hover {
				color: green;
			} */
			.header-nav > li ~ li {
			border-left: 2px solid rgba(255, 255, 255, 0.3);
			padding-left: 1em;
			}
			.header-nav > li ~ li a {
				color: white;
			}
			.header-nav > li ~ li a:hover {
				color: #22ff66;
			}
			.header-logo {
				background-color: black;
				box-sizing: border-box;
				display: block;
				height: 10vh;
				padding-top: 10px;
				position: relative;
				text-align: center;
				width: 10vh;
				opacity: 0.8;
			}
			.header-logo img {
				width: 6vh;
				border-radius: 2em;
			}
			.header-logo:hover,
			.header-logo:active {
				opacity: 1;
			}
/* social style rules */
			.tweet {
        background-color: rgba(20, 60, 125, 0.2);
        border-radius: 40px;
        box-sizing: border-box;
        color: #02f;
        display: inline-block;
        font-family: helvetica, sans-serif;
        font-weight: bold;
        height: 36px;
        line-height: 1;
        padding-left: 0.1em;
        padding-top: 0.5em;
        width: 36px;
			}
			.tweet:hover,
			.tweet:active {
				color: #0af;
				background-color: #33ff55;
			}
      .show {
        display: block;
      }
      .social-list {
        list-style: none;
        padding: 0;
        bottom: 10%;
				right: 5%;
				position: absolute;
      }
      .social-list > li {
        display: inline-block;
        margin: 0 0.5em;
      }
/* bio module style rules */
      .bio-box {
        border: 1px solid #000;
        box-sizing: border-box;
        border-color: transparent black black transparent;
        float: left;
        font-size: 1rem;
        margin: 40px 1% 0;
        padding: 2%;
        width: 23%;
      }
      .bio-wrapper {
        background-color: #efefef;
        font-size: 24px;
        margin: auto;
        max-width: 960px;
        min-height: 400px;
        overflow: scroll;
      }
      .bio-box h3 {
        color: #fff;
        font-size: 1.25em;
        margin: -40px 0 1em;
        text-align: center;
      }
      .bio-text {
        font-size: 1em;
        line-height: 1.5;
      }
			.bio-text a {
				color: #0c3;
        font-size: 1em;
        /* font-size: 150% */
			}
      .bio-box > a {
        text-transform: uppercase;
      }
      .bio-box img {
        width: 100%;
      }
			.bio-box .tweet {
				display: block;
				margin: 2em 0 1em;
			}
/* box style rules */
      .test-box {
        background: #9db6dd;
        margin: 50px;
        width: 200px;
      }
      .test-box-nosizing {
        border: 10px solid black;
        padding: 40px;
      }
      .test-box-sizing {
        box-sizing: border-box;
        width: auto;
        margin-top: 100px;
      }
